@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .items-section {
    width: 100vw;
  }
}
.hidden-item {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.side-bar {
  height: calc(100vh - 11.75rem);
  transition: opacity 0.9;
}
@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  .items-section {
    width: calc(100vw - 300px);
  }
}
.items-section {
  height: calc(100vh - 11.75rem);
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.items-section > div {
  margin: 20px;
}

.multiline-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}

.multiline-ellipsis-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap;
}

.mid-div {
  height: calc(100vh - 11.75rem);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-overlay {
  height: calc(100vh - 11.75rem);
}

.home-screen {
  height: calc(100vh - 11.75rem);
}
